body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;           
  padding: 40px 20px;
  text-align: center;
}


.container h1 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  align-items: stretch;
}
